<footer class="footer">
    <div class="container">
      <div class="footer-grid">
        <div class="footer-column">
          <h5>Tinko Events</h5>
          <p>Making event planning simple and effective.</p>
        </div>
        <div class="footer-column">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/events/create">Create Event</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h5>Contact Us</h5>
          <ul class="footer-links">
            <li>Email: info@tinkoevents.com</li>
            <li>Phone: 08039836659</li>
            <li>Address: 1a Babani Street, Lagos, Nigeria</li>
          </ul>
        </div>
        <div class="footer-column">
          <h5>Connect With Us</h5>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>&copy; <%= new Date().getFullYear() %> Tinko Events. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
  <!-- Font Awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
  <!-- Custom JavaScript -->
  <script src="/js/main.js"></script>
  </body>
  </html>