<%- include('partials/head') %>
<%- include('partials/nav', {page: 'home'}) %>
<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Tinko Events</h1>
    <p class="lead">Easily create and manage your events with our powerful platform.</p>
    <hr class="my-4">
    <p>Get started by creating your first event today!</p>
    <a class="btn btn-primary btn-lg" href="/events/create" role="button">Create Event</a>
  </div>
</div>

<%- include('partials/footer') %>